<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration  SYSTEM "hibernate-tools/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://10.191.6.52:5432/nkbigdata</property>
	<property name="hibernate.default_schema">nkbigdata</property>
    <property name="hibernate.connection.username">nkbigdata</property>
    <property name="hibernate.connection.password">ymslx-2019</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
  </session-factory>
</hibernate-configuration>
