<script>
var app = new Vue({
	
    data: function() {
    	
        return {
        	areaId: '',
        	areaOptions: [],
        	areaOrderData: [],
        	tableHeight: document.body.clientHeight - 105,
        	currentData: {},
        	currentIndex: 0,
        	showAside: false,
        	showAsideAreaId: false,
        	disabledAsideAreaNm: true,
        }
    },
    
    methods: {
    	
    	getTableList: function() {
    		var self = this;
			var areaId = self.areaId;
			this.$http.post(contextPath + '/dataMaintance/areaOrderData/getAreaOrderData', {"areaId" : areaId}).then(function(response) {
				self.areaOrderData = response.body;
				if(self.areaOptions.length==0) self.areaOptions = response.body;
			}, function(response) {
				errorMsg(response.body.reason);
			});
    	},
    	
    	changeCondition: function() {
    		this.areaProductData = [];
    	},
    	
    	searchDataHandle: function() {
    		this.getTableList();
    	},
    	
    	editHandle: function(rowData,handleType) {
    		
    		this.showAside = true;
    		
    		if(handleType == 'edit') {
    			this.currentData = VueUtil.merge({}, rowData);
    			this.currentIndex = this.areaOrderData.indexOf(rowData);
    		}
        },
    	
    	editSaveHandle: function(currentData) {
    	
    		var self = this;
			self.$http.post(contextPath + '/dataMaintance/areaOrderData/saveData', self.currentData).then(function(response) {
     			self.showAside = false;
     			self.$notify({title: "Success", message: "保存成功",type: "success",position: "bottom-right",duration:1500});
	 			setTimeout(function() {
	 				self.searchDataHandle();
	 			}, 500);
			});
    	},
    	
    },
    
    mounted: function() {
    	var self = this;
    	self.searchDataHandle();
    },
    
}).$mount("#app")
</script>