<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="common-head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
		<title>生产销售分析</title>
		<link th:href="@{/global/vue/component.min.css}" rel="stylesheet">
		<link th:href="@{/global/fontawesome/font-awesome.min.css}" rel="stylesheet">
		<link th:href="@{/resources/css/common.css}" rel="stylesheet">
		<script th:src="@{/global/vue/vue-all.min.js}"></script>
		<script th:src="@{/global/vue/vue-component-all.min.js}"></script>
		<script th:src="@{/resources/js/pjcommon-vue.js}"></script>
	</head>
</html>