<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<script type="text/javascript">
var app = new Vue({
	data: function() {
		return {
			productId: '',
			productNm: '',
			tableHeight: document.body.clientHeight - 105,
			hotSaleProductData: [],
			currentData: {},
			showAside: false,
			showDialog: false,
			showAsideProductId: false,
			disabledAsideProductNm: false,
			
			
			currentDataRules: {
        		productId: [
	              { required: true, message: "请输入产品ID"},
	            ],
	            productNm: [
	              { required: true, message: "请输入产品名称"},
	            ],
          	},
          	
		}
	},
    methods: {
    	
    	onSearchHandle: function() {
    		this.getTableList();
    	},
    	
    	getTableList: function() {
    		var self = this;
    		self.$http.post(contextPath + '/dataMaintance/hotSaleProductData/getHotSaleProductData' , {
				"productId":self.productId,
				"productNm":self.productNm
				}).then(function(response) {
				self.hotSaleProductData = response.body;
			}, function(response) {
				errorMsg(response.body.reason);
			});
    	}, 
    	
    	changeCondition: function() {
    		this.hotSaleProductData = [];
    	},
    	
    	editInsertHandle: function(rowData,handleType) {
    		
    		this.showAside = true;
    		
    		if(handleType == 'edit') {
    			
    			this.currentData = VueUtil.merge({}, rowData);
    			this.currentIndex = this.hotSaleProductData.indexOf(rowData);
    			this.showAsideProductId = false;
        		this.disabledAsideProductNm = true;
    		}
    		else {
    			
    			this.currentData = {};
    			this.showAsideProductId = true;
        		this.disabledAsideProductNm = false;
    		}
        },
        
        deleteHandle: function(rowData) {
        	this.showDialog = true;
        	this.currentData = VueUtil.merge({}, rowData);
        },
        
        editInsertSaveHandle: function(currentData) {
    		var self = this;
    		var form = self.currentData;
    		self.$refs.currentDataForm.validate(function(valid) {
				if (!valid) {
					return false;
				} else {
					self.$http.post(contextPath + '/dataMaintance/hotSaleProductData/saveData', form).then(function(response) {
	     				self.getTableList();
	     				self.showAside = false;
	     				this.$notify({title: "Success", message: "保存成功",type: "success",position: "bottom-right",duration:1500});
					},function(e){
						unlock(self);
					});
				}
			});
    	},
        
		deleteSaveHandle: function() {
    		
    		this.showDialog = false;
    		var self = this;
    		this.$http.post(contextPath + '/dataMaintance/hotSaleProductData/deleteData', self.currentData).then(function(response) {
    			self.getTableList();
    			self.showAside = false;
    			this.$notify({title: "Success", message: "删除成功",type: "success",position: "bottom-right",duration:1500});
			}, function(response) {
				console.log(response.body.reason);
			});
    	},
    },
    
    mounted: function() {
    	var self = this;
    	self.getTableList();
    },
}).$mount("#app")
</script>