<script>
var app = new Vue({
	data: function() {
		return {
			compId: '',
			compNm: '',
			tableHeight: document.body.clientHeight - 105,
			leadingCompProductData: [],
			currentData: {},
			showAside: false,
			showDialog: false,
			showAsideCompId: false,
			disabledAsideCompNm: false,
			
			
			currentDataRules: {
				compId: [
	              { required: true, message: "请输入公司ID"},
	            ],
	            compNm: [
	              { required: true, message: "请输入公司名称"},
	            ],
          	},
          	
		}
	},
    methods: {
    	
    	onSearchHandle: function() {
    		this.getTableList();
    	},
    	
    	getTableList: function() {
    		var self = this;
    		self.$http.post(contextPath + '/dataMaintance/leadingCompProductData/getLeadingCompProductData' , {
				"compId":self.compId,
				"compNm":self.compNm
				}).then(function(response) {
				self.leadingCompProductData = response.body;
			}, function(response) {
				errorMsg(response.body.reason);
			});
    	}, 
    	
    	changeCondition: function() {
    		this.leadingCompProductData = [];
    	},
    	
    	editInsertHandle: function(rowData,handleType) {
    		
    		this.showAside = true;
    		
    		if(handleType == 'edit') {
    			
    			this.currentData = VueUtil.merge({}, rowData);
    			this.currentIndex = this.leadingCompProductData.indexOf(rowData);
    			this.showAsideCompId = false;
        		this.disabledAsideCompNm = true;
    		}
    		else {
    			
    			this.currentData = {};
    			this.$refs.currentDataForm.resetFields();
    			this.showAsideCompId = true;
        		this.disabledAsideCompNm = false;
    		}
        },
        
        deleteHandle: function(rowData) {
        	this.showDialog = true;
        	this.currentData = VueUtil.merge({}, rowData);
        },
        
        editInsertSaveHandle: function(currentData) {
    		var self = this;
    		var form = self.currentData;
    		self.$refs.currentDataForm.validate(function(valid) {
				if (!valid) {
					return false;
				} else {
					self.$http.post(contextPath + '/dataMaintance/leadingCompProductData/saveData', form).then(function(response) {
	     				self.getTableList();
	     				self.showAside = false;
	     				this.$notify({title: "Success", message: "保存成功",type: "success",position: "bottom-right",duration:1500});
					},function(e){
						unlock(self);
					});
				}
			});
    	},
        
		deleteSaveHandle: function() {
    		
    		this.showDialog = false;
    		var self = this;
    		this.$http.post(contextPath + '/dataMaintance/leadingCompProductData/deleteData', self.currentData).then(function(response) {
    			self.getTableList();
    			self.showAside = false;
    			this.$notify({title: "Success", message: "删除成功",type: "success",position: "bottom-right",duration:1500});
			}, function(response) {
				console.log(response.body.reason);
			});
    	},
    },
    
    mounted: function() {
    	var self = this;
    	self.getTableList();
    },
}).$mount("#app")
</script>