<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{decorator/common-head::common-head}">
</head>
<meta charset="UTF-8">
</head>
<body>
	<div id="app" style="height: 100%" v-cloak>
		<vue-form inline>
  			<vue-form-item label="公司ID">
    			<vue-input v-model="compId" :maxlength="16" @change="changeCondition"></vue-input>
  			</vue-form-item>
  			<vue-form-item label="公司名称">
    			<vue-input v-model="compNm" :maxlength="32" @change="changeCondition"></vue-input>
  			</vue-form-item>
  			<vue-form-item>
    			<vue-button type="primary" @click="onSearchHandle">查询</vue-button>
  			</vue-form-item>
		</vue-form>
		<vue-table :data="leadingCompProductData" :height="tableHeight" border stripe show-foot>
			<vue-table-column prop="compId" label="公司ID"  show-overflow-tooltip></vue-table-column> 
			<vue-table-column prop="compNm" label="公司名称"  show-overflow-tooltip></vue-table-column>
			<vue-table-column prop="monthProduction" label="月产能（万元）"  show-overflow-tooltip></vue-table-column>
			<vue-table-column label="操作" fixed="right" align="center" width="110">
				<template slot-scope="scope">
					<vue-button @click="editInsertHandle(scope.row,'edit')" type="primary" size="small" icon="vue-icon-edit"></vue-button>
      				 <vue-button @click="deleteHandle(scope.row)" type="primary" size="small" icon="vue-icon-delete2"></vue-button>
				</template>
			</vue-table-column>
		</vue-table>
		<vue-form inline style="margin-top:10px">
			<vue-form-item>
				<vue-button type="primary" @click="editInsertHandle('','insert')" >添加</vue-button>
			</vue-form-item>
		</vue-form>
		<vue-aside v-model="showAside" title="编辑数据" close-on-click-modal>
			<vue-form :model="currentData" ref="currentDataForm" :rules="currentDataRules" label-width="130px" style="padding: 15px">
				<vue-form-item prop="compId" label="公司ID" v-show="showAsideCompId">
					<vue-input v-model="currentData.compId" :maxlength="16"></vue-input>
				</vue-form-item>
				<vue-form-item prop="compNm" label="公司名称" >
					<vue-input v-model="currentData.compNm" :maxlength="32" :disabled="disabledAsideCompNm"></vue-input>
				</vue-form-item>
				</vue-form-item>
				<vue-form-item prop="monthProduction" label="月产能（万元）">
					<vue-input v-model="currentData.monthProduction" :cleave="{numeral:true,}" :maxlength="12"></vue-input>
				</vue-form-item>
			</vue-form>
			<span slot="footer">
    			<vue-button @click="showAside = false">取消</vue-button>
    			<vue-button type="primary" @click="editInsertSaveHandle()">保存</vue-button>
  			</span>
		</vue-aside>
		<vue-dialog v-model="showDialog" size="tiny">
			<span>是否确认删除该笔数据</span>
			<span slot="footer" class="dialog-footer">
    			<vue-button @click="showDialog = false">取消</vue-button>
    			<vue-button type="primary" @click="deleteSaveHandle">确认</vue-button>
  			</span>
		</vue-dialog>
	</div>
	<script th:include="~{dataMaintance/leadingCompProductData/leadingCompProductDataJs::script}"></script>
</body>
</html>