<sec:authentication property="principal.userContext" var="uc" />
<script>
var getVueInstance = function(){return homeApp}
var homeApp = new Vue({
// 	mixins: [ajaxGetButtonMixin()],
	data: function() {
		return {

			iframeName: "homePage",
			iframeUrl: "homePage/info",
			curDate: getDateYYYYMMDDStringCH(new Date()),
			curTime: getDateHHmmSSStringCH(new Date()),
			areaMonthOutputUrl: 'dashboard/areaMonthOutput',
			areaSalesOrderAnalysisUrl: 'dashboard/areaSalesOrderAnalysis',
			leadingMonthAnalysisUrl: 'dashboard/leadingMonthAnalysis',
			hotSaleMonthUrl: 'dashboard/hotSaleMonth',
			hotSaleYearUrl: 'dashboard/hotSaleYear',
			hotSaleAreaAmoutUrl: 'dashboard/hotSaleAreaAmout',
			hotSaleProductAmoutUrl: 'dashboard/hotSaleProductAmout',
		}
	},
	methods: {
		
        getAreaMonthOutput: function(){

            var self = this;
            self.$http.post(contextPath + '/dashboard/getAreaMonthOutput' , {}).then(function(response) {
					var data1= [];
					var data2= [];
					var data3= [];
                    let result = response.data;
				      for(var i in result){
				    	  debugger
		                    data1.push(result[i].areaNm);
		                    data2.push(result[i].monthProduct);
		                    data3.push(result[i].monthOutput);
		                }
                    let chartFrame = document.getElementById('areaMonthOutput').contentWindow;
                    chartFrame.onload = function() {
                    	chartFrame.chart.setOption({yAxis: {data: data1},series: [{data: data2},{data: data3}]});
                    };
                }, function(response) {
                    errorMsg(response.body.reason);
                });
        },
        
        getHotSaleYear: function(){

            var self = this;
            self.$http.post(contextPath + '/dashboard/getHotSaleYear' , {}).then(function(response) {
					var data1= [];
					var data2= [];
                    let result = response.data;
				      for(var i in result){
		                    data1.push(i);
		                    data2.push(result[i]);
		                }
                    let chartFrame = document.getElementById('hotSaleYear').contentWindow;
                    chartFrame.onload = function() {
                    	chartFrame.chart.setOption({xAxis: {data: data1},series: [{data: data2}]});
                    };
                }, function(response) {
                    errorMsg(response.body.reason);
                });
        },
        
        getHotSaleAreaAmout: function(){

            var self = this;
            self.$http.post(contextPath + '/dashboard/getHotSaleAreaAmout' , {}).then(function(response) {
					var data1= [];
					var data2= [];
                    let result = response.data;
				      for(var i in result){
		                    data1.push(i);
		                    data2.push(result[i]);
		                }
                    let chartFrame = document.getElementById('hotSaleAreaAmout').contentWindow;
                    chartFrame.onload = function() {
                    	chartFrame.chart.setOption({xAxis: {data: data1},series: [{data: data2}]});
                    };
                }, function(response) {
                    errorMsg(response.body.reason);
                });
        },
        
        getHotSaleProductAmout: function(){

            var self = this;
            self.$http.post(contextPath + '/dashboard/getHotSaleProductAmout' , {}).then(function(response) {
					var data1= [];
					var data2= [];
                    let result = response.data;
				      for(var i in result){
		                    data1.push(i);
		                    data2.push(result[i]);
		                }
                    let chartFrame = document.getElementById('hotSaleProductAmout').contentWindow;
                    chartFrame.onload = function() {
                    	chartFrame.chart.setOption({xAxis: {data: data1},series: [{data: data2}]});
                    };
                }, function(response) {
                    errorMsg(response.body.reason);
                });
        },
	},
	created: function() {
		//实时更新时间
		var self = this;
		setInterval(function() {
			self.curDate = getDateYYYYMMDDStringCH(new Date());
		}, 360000);
		setInterval(function() {
			self.curTime = getDateHHmmSSStringCH(new Date());
		}, 1000);
	},
    mounted: function() {
    	var self = this;
    	self.getAreaMonthOutput();
    	self.getHotSaleYear();
    	self.getHotSaleAreaAmout();
    	self.getHotSaleProductAmout();
    },
}).$mount("#home");

window.onload = function() {

}
</script>